h1 {
    color: #000;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 50%;

}

p {
    color: var(--gray-2, #4F4F4F);
    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;

    max-width: 40%;
}

.banner-img {
    margin-top: 2em;
    /* width: 1400px; */
    width: 91vw;
    height: 470px;
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* container */

.container{
    /* margin-top: 100px; */
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin-top:5%;
   
    
}
.left{
   
   
    background-color: green;
    width: 100%;
    
    justify-content: center;

    
   
}
.right{
  background-color: red;

  width: 30%;
  height: 20%;

  margin-left: 30%;
  margin-right: 7%;

  border-radius: 5px;
    
    
}

h2 {
    color: var(--gray-1, #333);
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: var(--gray-1, #333);
    font-family: Playfair Display;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

li {
    max-width: 90%;
}

ul>li {
    list-style: square;

}



h5 {
    color: var(--gray-4, #BDBDBD);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

h4 {
    color: var(--gray-1, #333);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

